* {
    padding: 0;
    margin: 0;
    font-size: 1.05em;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

main {
    grid-area: conteudo;
    background-color: white;
    padding: 10px;
    line-height: 1.6em;
}

sup {
    font-style: italic;
    font-size: 0.6em;
    font-weight: 100;
    margin-left: 15px;
}

header {
    grid-area: cabecalho;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}
#nav {
    display: flex;
    flex-direction: column;
    top: 5px;
    position: -webkit-sticky; /* Para funcionar no browser Safari */
    position: sticky;
}
nav {
    grid-area: navegacao;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* width: 50%; */
}
nav a{
    background-color: #9c27b0;
    padding: 10px 0px 10px 7px;
    color: white;
}
nav a:hover {
    background-color: #4a148c;
}

footer {
    grid-area: rodape;
    background-color: #f1f1f1;
    padding: 20px;
    font-style: italic;
    color: #666;
    text-align: center;
    border-top: 1px solid #e1bee7;
}

footer a {
    color: #939393;
    text-decoration: underline;
}

body {
    font-family: 'Bitter', serif;
    display: grid;
    color: #444;

    min-height: 100vh;
    /* max-width: 100vw ; */
    /* min-width: 100vw ; */
    grid-template-columns: 300px calc(100% - 300px);
    grid-template-rows: 0fr 1fr 100px;

    grid-template-areas: 
        'cabecalho cabecalho'
        'navegacao conteudo'
        'rodape rodape';
}

h1 {
    font-size: 3.0em;
}
h1 sup {
    color: #888;
}
h2 {
    font-size: 1.7em;
    line-height: 1.7em;
}
h2 a {
    color: #9c27b0;
}
header p {
    font-size: 1.5em;
    margin-top: 15px;
}

.code {
    margin: 10px;
    overflow: auto ;
    position: relative ;
    display: grid;
}

.code pre {
    background-color: #f7f7f7;
    padding: 10px;
}

pre{
    overflow: auto;
    font-size: 0.95em;
    line-height: 1.3em;
    word-spacing: -0.2em;
    color: black;
}

.block {
    display: table;
    width: 100%;
    margin-bottom: 50px;
    border-left: 2px solid #ce93d8;
    padding-left: 10px;
}

.block p {
    margin-bottom: 30px;
}

ul {
    padding-inline-start: 40px;
}
h3 {
    font-size: 1.3em;
    border-bottom: 1px solid #ce93d8;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
li {
    margin: 6px 0;
    font-size: 1em;
}

span.dt {
    font-size: 1em;
    color: #3949ab;
}

em {font-size: 1em;}

blockquote {
    margin: 20px;
    padding: 20px;
    background-color: antiquewhite;
    border-left: 2px solid brown;
    font-size: 0.9em;
}
.ptop {
    margin-top: 20px;
}